# Dependencies
node_modules/

# Next.js
frontend/.next/
frontend/out/

# NestJS
backend/dist/

# Environment variables
.env
.env.*
.env.local
.env.*.local
!.env.example

# Vercel
.vercel/

# Generated Prisma client
backend/generated/
backend/src/generated/

# Logs
*.log

# IDE
.vscode/
.idea/

# Others
#backend/tsconfig.build.tsbuildinfo
*.tsbuildinfo